data/mimic_sft/mimic-cxr-2.0.0-metadata.csv
ds_hf.sh
data/
CXR-Report-Metric/cache
__pycache__/
playground
checkpoints
composed_weights/
.vscode
playground
preprocess
private
CXR-Report-Metric/cache
CXR-Report-Metric/distilroberta-base
CXR-Report-Metric/bert-base-uncased
openai
others
xray-report
pred_private_bs1.csv
gt_private_bs1.csv

